
.clogo{
    background-color: aqua;
}


.cslide{
    background-color: lightcoral;
}



.cform{
    background-color: burlywood;
}




.cfoo{
    background-color: darkorchid;
}

.cwifi{
    background-color: #A2A3A7;
    color: white;
}

